.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 300px;
}

.wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 10px;
  width: 200px;
}

input {
  width: 180px;
}

.errorMessage {
  color: red;
}
